{
  "Dhcp6": {
    "interfaces-config": {
      "interfaces": [ "{{dhcp_ethernet_interface}}" ]
    },
      "lease-database": {
        "type": "memfile",
        "persist": true,
        "name": "/var/lib/kea/dhcp6.leases"
      },
      "valid-lifetime": 3600,
      "renew-timer": 600,
      "rebind-timer": 1800,
      "subnet6": [
      {
        "subnet": "fdc5:2d46:cdc1:b358::/64",
        "interface-id": "{{dhcp_ethernet_interface}}",
        "pools": [
        {
          "pool": "fdc5:2d46:cdc1:b358::1000-fdc5:2d46:cdc1:b358::2000"
        }
        ]
      }
      ],
      "client-classes": [
      {
        "name": "a-ipxe",
        "test": "substring(option[15].hex, 2, 4) == 'iPXE'",
        "option-data": [
        {
          "space": "dhcp6",
          "name": "bootfile-url",
          "code": 59,
          "data": "http://[fdc5:2d46:cdc1:b358::1]/boot.cfg"
        }
        ]
      },
      {
        "name": "b-efi",
        "test": "option[61].hex == 0x0007",
        "option-data": [
        {
          "space": "dhcp6",
          "name": "bootfile-url",
          "code": 59,
          "data": "http://[fdc5:2d46:cdc1:b358::1]/netboot.xyz.efi"
        }
        ]
      }
      ],
      "loggers": [
      {
        "name": "kea-dhcp6",
        "output_options": [
        {
          "output": "/var/log/kea/kea-dhcp6.log"
        }
        ],
        "severity": "DEBUG"
      }
      ]
  }
}

