{
  "Dhcp4": {
    "interfaces-config": {
      "interfaces": [ "{{dhcp_ethernet_interface}}" ]
    },
    "lease-database": {
      "type": "memfile",
      "persist": true,
      "name": "/var/lib/kea/dhcp4.leases"
    },
    "valid-lifetime": 28800,
    "subnet4": [
      {
        "subnet": "172.28.0.0/24",
        "pools": [
          {
            "pool": "172.28.0.10 - 172.28.0.250"
          }
        ],
        "option-data": [
            {
                "name": "routers",
                "data": "172.28.0.1"
            }
        ],
        "reservations": [
          {
            "hw-address": "1a:1b:1c:1d:1e:1f",
            "ip-address": "172.28.0.9"
          }
        ]
      }
    ],
    "client-classes": [
    {
        "name": "iPXE",
        "test": "option[175].exists",
        "option-data": [
            {
                "name": "tftp-server-name",
                "data": "172.28.0.1"
            },
            {
                "name": "boot-file-name",
                "data": "http://172.28.0.1/ipxe.conf"
            }
        ]
    },
    {
        "name": "UEFI clients",
        "test": "option[93].hex == 0x0007 and not option[175].exists",
        "option-data": [
            {
                "name": "tftp-server-name",
                "data": "172.28.0.1"
            },
            {
                "name": "boot-file-name",
                "data": "ipxe.efi"
            }
        ]
    },
    {
        "name": "BIOS clients",
        "test": "option[93].hex == 0x0000 and not option[175].exists",
        "option-data": [
            {
                "name": "tftp-server-name",
                "data": "172.28.0.1"
            },
            {
                "name": "boot-file-name",
                "data": "undionly.kpxe"
            }
        ]
    }
    ],
    "loggers": [
      {
        "name": "kea-dhcp4",
        "output_options": [
          {
            "output": "/var/log/kea/kea-dhcp4.log",
            "maxver": 10
          }
        ],
        "severity": "DEBUG"
      }
    ]
  }
}
