---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumLoadBalancerIPPool
metadata:
  name: "maid-cafe-pool"
spec:
  blocks:
    - start: "172.25.9.31"
      stop: "172.25.9.254"
---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: Gateway
metadata:
  name: maid-cafe-gateway
spec:
  gatewayClassName: cilium
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
         namespaces:
           from: All
    - name: https
      hostname: "*.cafe.acmuic.org"
      port: 443
      protocol: HTTPS
      allowedRoutes:
        namespaces:
          from: All
      tls:
        mode: Terminate
        certificateRefs:
        - kind: Secret
          name: maid-cafe-gateway-tls
