---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumLoadBalancerIPPool
metadata:
  name: "maid-cafe-pool"
spec:
  blocks:
    - start: "172.25.9.31"
      stop: "172.25.9.254"
---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: Gateway
metadata:
  name: maid-cafe-gateway
spec:
  gatewayClassName: cilium
  listeners:
    - name: http
      protocol: HTTP
      port: 80
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: argocd-ui
spec:
  parentRefs:
  - name: maid-cafe-gateway
  rules:
  - backendRefs:
    - name: argocd-server
      port: 443
