---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: argocd-ui
spec:
  parentRefs:
  - name: maid-cafe-gateway
  hostnames:
  - cd.cafe.acmuic.org
  rules:
  - backendRefs:
    - name: argocd-server
      port: 443
