---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: ''
    namespace: argocd
    server: 'https://kubernetes.default.svc'
  sources:
    - repoURL: 'https://argoproj.github.io/argo-helm'
      targetRevision: 5.51.6
      chart: argo-cd
      helm:
        valueFiles:
          - $values/kubernetes/argocd/stacks/argocd/values.yml
    - path: kubernetes/argocd/stacks/argocd
      repoURL: 'git@github.com:acm-uic/IaC.git'
      targetRevision: HEAD
      ref: values
      directory:
        recurse: true
        include: '*.yml'
        exclude: values.yml
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
