---
apiVersion: v1
kind: Namespace
metadata:
  name: externaldns
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: externaldns
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  destination:
    namespace: externaldns
    server: 'https://kubernetes.default.svc'
  sources:
    - repoURL: 'https://kubernetes-sigs.github.io/external-dns/'
      targetRevision: 1.13.0
      chart: external-dns
      helm:
        valueFiles:
          - $values/kubernetes/argocd/stacks/common/helm-values/externaldns-values.yml
    - repoURL: 'git@github.com:acm-uic/IaC.git'
      targetRevision: feature/externaldns
      ref: values

  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: externaldns-vault-cert
  namespace: externaldns
spec:
  dnsNames:
    - "externaldns.acmuic.org"
    - "*.externaldns.svc"
  ipAddresses:
    - 127.0.0.1
  usages:
    - server auth
    - digital signature
    - key encipherment
  secretName: vault-ha-tls
  issuerRef:
    kind: ClusterIssuer
    name: acmuic-self-ca
