---
apiVersion: v1
kind: Namespace
metadata:
  name: nfs
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nfs-subdir-external-provisioner
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  destination:
    namespace: nfs
    server: 'https://kubernetes.default.svc'
  source:
    repoURL: 'https://kubernetes-sigs.github.io/nfs-subdir-external-provisioner'
    targetRevision: 4.0.18
    chart: nfs-subdir-external-provisioner
    helm:
      parameters:
        - name: nfs.server
          value: truenas.acmuic.org
        - name: nfs.path
          value: /mnt/pool/kubernetes-storage
        - name: storageClass.name
          value: nfs
        - name: storageClass.accessModes
          value: ReadWriteMany
        - name: nfs.mountOptions[0]
          value: nfsvers=4
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: csi-driver-nfs
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  destination:
    namespace: nfs
    server: 'https://kubernetes.default.svc'
  source:
    repoURL: 'https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts'
    targetRevision: v4.4.0
    chart: csi-driver-nfs
    helm:
      parameters:
        - name: externalSnapshotter.enabled
          value: "true"
        - name: controller.runOnControlPlane
          value: "true"
        - name: controller.replicas
          value: 2
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
---
apiVersion: v1
kind: Secret
metadata:
  name: mount-options
  namespace: nfs
  annotations:
    argocd.argoproj.io/sync-wave: "1"
stringData:
  mountOptions: "nfsvers=4.1"
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: nfs-csi
  annotations:
    argocd.argoproj.io/sync-wave: "2"
provisioner: nfs.csi.k8s.io
parameters:
  server: truenas.acmuic.org
  share: /mnt/pool/kubernetes-storage
  # csi.storage.k8s.io/provisioner-secret is only needed for providing mountOptions in DeleteVolume
  csi.storage.k8s.io/provisioner-secret-name: "mount-options"
  csi.storage.k8s.io/provisioner-secret-namespace: "nfs"
reclaimPolicy: Delete
volumeBindingMode: Immediate
mountOptions:
  - nfsvers=4.1
