---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: sigweb
  namespace: argocd
spec:
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  destinations:
  - namespace: '*'
    server: '*'
  sourceRepos:
  - 'git@github.com:acm-uic/IaC.git'
  - 'https://acm.cs.uic.edu/helm'
  roles:
  # A role which provides read-only access to all applications in the project
  - name: read-only
    description: Read-only privileges to sigweb
---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: sigsysadmin
  namespace: argocd
spec:
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  destinations:
  - namespace: '*'
    server: '*'
  sourceRepos:
  - 'git@github.com:acm-uic/IaC.git'
  - 'https://acm.cs.uic.edu/helm'
  roles:
  # A role which provides read-only access to all applications in the project
  - name: read-only
    description: Read-only privileges to sigsysadmin

