---
apiVersion: v1
kind: Namespace
metadata:
  name: traefik
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  destination:
    namespace: traefik
    server: 'https://kubernetes.default.svc'
  source:
    repoURL: 'https://traefik.github.io/charts'
    targetRevision: 23.1.0
    chart: traefik
    helm:
      parameters:
        - name: ingressRoute.dashboard.matchRule
          value: >-
            Host(`traefik.acmuic.org`) && PathPrefix(`/dashboard`) ||
            PathPrefix(`/api`)
        - name: ingressRoute.dashboard.entryPoints[0]
          value: web
        - name: logs.general.level
          value: DEBUG
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
