---
name: 'Terraform PRs for Azure'
on:
  pull_request:
    paths:
      - 'azure/terraform/stacks/**'

jobs:
  terraform:
    name: 'Terraform PR Plan'
    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_AD_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_AD_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_AD_TENANT_ID }}
      TF_WORKSPACE: prod
      TF_IN_AUTOMATION: true
      TF_INPUT: 0
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: azure/terraform/stacks/acm-general

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: 'Terraform Format'
        id: fmt
        uses: dflook/terraform-fmt-check@v1
        with:
          path: "azure/terraform/stacks/acm-general"
          workspace: ${{ env.TF_WORKSPACE }}

      - name: 'Terraform Validate'
        id: validate
        uses: dflook/terraform-validate@v1
        with:
          path: "azure/terraform/stacks/acm-general"
          workspace: ${{ env.TF_WORKSPACE }}

      - name: 'Terraform Plan'
        id: plan
        uses: dflook/terraform-plan@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path: "azure/terraform/stacks/acm-general"
          workspace: ${{ env.TF_WORKSPACE }}
          var_file: "azure/terraform/stacks/acm-general/configuration/$TF_WORKSPACE.tfvars"
