name: Kube Lint

on:
  pull_request:
    paths:
      - "kubernetes/**/*.yml"
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Scan yamls
        uses: stackrox/kube-linter-action@v1
        with:
          directory: ./kubernetes
